section {
    // @include cover-background('/assets/img/header.png');
    @include gradient(#834fa5, #d9317e, horizontal);
    height: 100vh;
    .wrapper {
        @include wp();
        height: 100vh;
        @include md(height, 150vh);
        &__nav {
            padding: 3%;
            display: flex;
            justify-content: space-between;
            @include md(flex-direction, column);
            @include md(margin, 0 auto);
            @include md(text-align, center);
            .logo {
                color: #fff;
                font-family: 'Montserrat Semibold';
                font-size: 20px;
                span {
                    color: #ffca4b;
                }
                @include md(margin-bottom, 25px);
                @include md(margin-top, 25px);
            }
            .left {
                @include size-md(24);
                @include md(width, fill);
                .links {
                    @include md(flex-direction, column);
                    display: flex;
                    list-style: none;
                    font-family: 'Montserrat Regular';
                    .fab {
                        width: 30px;
                        margin: 1%;
                        @include md(display, none);
                        color: #fff;
                    }
                    :hover {
                        color: #fff;
                        cursor: pointer;
                        opacity: 0.3;
                    }
                    li {
                        width: 105px;
                        text-align: center; // margin: 1%;
                        font-size: 20px;
                        @include md(width, fill);
                        @include size-md(23);
                        color: #fff;
                        a {
                            text-decoration: none;
                            color: #de9ec8;
                        }
                    }
                    li:nth-child(1) {
                        a {
                            opacity: 1;
                            color: #fff;
                        }
                    }
                    li:hover {
                        color: #fff;
                        opacity: 0.3;
                    }
                    :nth-child(3) {
                        margin-right: 1%;
                        padding-right: 2%;
                        border-right: 2px solid #ffca4b;
                    }
                }
            }
        }
        &__productdesigner {
            @include size(12);
            @include size-md(24);
            @include md(margin, 0 auto);
            @include md(margin-top, 2%);
            @include md(left, 0);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: 50%;
            margin-top: 10%;
            .text {
                .yellow {
                    font-size: 59px;
                    color: #ffca4b;
                }
                .second {
                    font-size: 45px;
                    color: #fff;
                }
                .third {
                    font-family: 'Roboto';
                    font-size: 32px;
                    margin-bottom: 20px;
                    font-weight: 350;
                    color: #e6b4cd;
                }
            }
            .email {
                input:nth-child(1) {
                    @include size(18);
                    @include size-md(24);
                    height: 40px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #e6b4cd;
                    margin-bottom: 3%;
                    color: #e6b4cd;
                    font-size: 18px;
                }
                input:nth-child(2) {
                    @include size(14);
                    @include size-md(24);
                    height: 40px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #e6b4cd;
                    margin-bottom: 3%;
                    color: #e6b4cd;
                    font-size: 18px;
                }
                input:nth-child(3) {
                    @include size(4);
                    @include size-md(24);
                    @include md(margin-right, 0px);
                    margin-left: 25px;
                    height: 40px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #e6b4cd;
                    margin-bottom: 3%;
                    color: #e6b4cd;
                    font-size: 18px;
                }
            }
        }
    }
}