@import "../libs/normalize-css/normalize.css";

header .nav {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}

header .nav .links {
  display: flex;
}

header .nav .links .link_active a {
  color: #000;
}

header .nav .links .link {
  width: 80px;
  text-align: center;
}

header .nav .links .link a {
  color: #5c6bc0;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper__first {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  background-color: #eceef1;
  box-shadow: 0px 0px 15px 0px #eceef1;
  border: 1px solid #eceef1;
}

.wrapper__first .text {
  background-color: #fff;
  padding: 6%;
}

.wrapper__first .text h1 {
  font-size: 40px;
}

.wrapper__first .text p {
  font-size: 20px;
}

.wrapper__first .text span,
.wrapper__first .text h1,
.wrapper__first .text p {
  background-color: #fff;
}

.wrapper__first .text .button {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapper__first .text .button .btn {
  background-color: #fff;
}

.wrapper__first .text .button .btn a {
  color: #5c6bc0;
}

.wrapper__first .text .button span {
  color: #eaeaea;
}

.wrapper__second {
  background-color: #fff;
  height: 100%;
  width: 900px;
  margin: 0 auto;
  border: 1px solid #eceef1;
  box-shadow: 0px 0px 15px 0px #eceef1;
  margin-top: 5%;
}

.wrapper__second .img {
  width: 900px;
  height: 60vh;
  background: transparent url("../img/bg.png") no-repeat center center;
  background-size: cover;
}

.wrapper__second .text {
  background-color: #fff;
  padding: 6%;
}

.wrapper__second .text span,
.wrapper__second .text h1,
.wrapper__second .text p {
  background-color: #fff;
}

.wrapper__second .text .button {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapper__second .text .button .btn {
  background-color: #fff;
}

.wrapper__second .text .button .btn a {
  color: #5c6bc0;
}

.wrapper__second .text .button span {
  color: #eaeaea;
}

.wrapper__third {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid #eceef1;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #eceef1;
}

.wrapper__third .img {
  height: 60vh;
  width: 900px;
  border: 1px solid rgba(18, 71, 104, 0.81);
  background-color: rgba(51, 76, 159, 0.81);
}

.wrapper__third .text {
  padding: 6%;
  background-color: #fff;
}

.wrapper__third .text span,
.wrapper__third .text h1,
.wrapper__third .text p {
  background-color: #fff;
}

.wrapper__third .text .button {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapper__third .text .button .btn {
  background-color: #fff;
}

.wrapper__third .text .button .btn a {
  color: #5c6bc0;
}

.wrapper__third .text .button span {
  color: #eaeaea;
}

.wrapper__fourth {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid #eceef1;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #eceef1;
}

.wrapper__fourth .video iframe {
  height: 60vh;
  width: 900px;
}

.wrapper__fourth .text {
  padding: 6%;
  background-color: #fff;
}

.wrapper__fourth .text span {
  color: #eceef1;
}

.wrapper__fourth .text span,
.wrapper__fourth .text h1,
.wrapper__fourth .text p {
  background-color: #fff;
}

.wrapper__fifth {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid #eceef1;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #eceef1;
}

.wrapper__fifth .soundcloud img {
  width: 900px;
}

.wrapper__fifth .text {
  background-color: #fff;
  padding: 6%;
}

.wrapper__fifth .text span,
.wrapper__fifth .text h1,
.wrapper__fifth .text p {
  background-color: #fff;
}

.wrapper__fifth .text .button {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapper__fifth .text .button .btn {
  background-color: #fff;
}

.wrapper__fifth .text .button .btn a {
  color: #5c6bc0;
}

.wrapper__fifth .text .button span {
  color: #eaeaea;
}

.wrapper__sixth {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid #eceef1;
}

.wrapper__sixth .img {
  height: 60vh;
  width: 900px;
  background-color: #fefe;
}

.wrapper__sixth .text {
  padding: 6%;
  background-color: #fff;
}

.wrapper__sixth .text .italic {
  font-style: italic;
  color: #7f7f7f;
}

.wrapper__sixth .text .button {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapper__sixth .text .button .btn {
  background-color: #fff;
}

.wrapper__sixth .text .button .btn a {
  color: #5c6bc0;
}

.wrapper__sixth .text .button span {
  color: #eaeaea;
}

.wrapper__sixth .text span,
.wrapper__sixth .text h1,
.wrapper__sixth .text p {
  background-color: #fff;
}

.wrapper__seventh {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #eceef1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.wrapper__seventh .text {
  background-color: #fff;
  padding: 6%;
  flex-direction: column;
}

.wrapper__seventh .text h1 {
  font-size: 40px;
}

.wrapper__seventh .text .left_img {
  float: left;
  margin: 7px 7px 7px 0;
}

.wrapper__seventh .text .quote {
  color: #999999;
  border-left: 3px solid #eeeeee;
  padding-left: 2%;
}

.wrapper__seventh .text .button {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.wrapper__seventh .text .button .btn {
  background-color: #fff;
}

.wrapper__seventh .text .button .btn a {
  color: #5c6bc0;
}

.wrapper__seventh .text .button span {
  color: #eaeaea;
}

.wrapper__seventh .text span,
.wrapper__seventh .text h1,
.wrapper__seventh .text br,
.wrapper__seventh .text p {
  background-color: #fff;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #5c6bc0;
  text-align: center;
  color: #fff;
}

.footer__wrapper .center {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: #5c6bc0;
  padding: 5%;
}

.footer__wrapper .center .links {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.footer__wrapper .center .links .link {
  padding: 1%;
}

.footer__wrapper .center li,
.footer__wrapper .center p,
.footer__wrapper .center span {
  background-color: #5c6bc0;
}

header,
section {
  background-color: #f7f9fc;
}

body {
  background-color: #f7f9fc;
}

@media screen and (max-width: 960px) {
  header .nav {
    justify-content: center;
  }

  header .nav .links {
    display: none;
  }

  .wrapper__first {
    width: auto;
  }

  .wrapper__first .text h1 {
    font-size: 30px;
  }

  .wrapper__first .text p {
    font-size: 15px;
  }

  .wrapper__first .text .button {
    flex-direction: column;
  }

  .wrapper__first .text .button {
    text-align: center;
  }

  .wrapper__second {
    width: auto;
  }

  .wrapper__second .img {
    width: auto;
  }

  .wrapper__second .img {
    height: 40vh;
  }

  .wrapper__second .text .button {
    text-align: center;
  }

  .wrapper__second .text .button {
    flex-direction: column;
  }

  .wrapper__third {
    width: auto;
  }

  .wrapper__third .img {
    width: auto;
  }

  .wrapper__third .img {
    height: 40vh;
  }

  .wrapper__third .text .button {
    text-align: center;
  }

  .wrapper__third .text .button {
    flex-direction: column;
  }

  .wrapper__fourth {
    width: auto;
  }

  .wrapper__fourth .video iframe {
    width: auto;
  }

  .wrapper__fourth .video iframe {
    height: 40vh;
  }

  .wrapper__fourth .video iframe {
    text-align: center;
  }

  .wrapper__fifth {
    width: auto;
  }

  .wrapper__fifth .soundcloud img {
    width: 350px;
  }

  .wrapper__fifth .text .button {
    text-align: center;
  }

  .wrapper__fifth .text .button {
    flex-direction: column;
  }

  .wrapper__sixth {
    width: auto;
  }

  .wrapper__sixth .img {
    width: auto;
  }

  .wrapper__sixth .img {
    height: 40vh;
  }

  .wrapper__sixth .text .button {
    text-align: center;
  }

  .wrapper__sixth .text .button {
    flex-direction: column;
  }

  .wrapper__seventh {
    width: auto;
  }

  .wrapper__seventh .text h1 {
    font-size: 30px;
  }

  .wrapper__seventh .text .button {
    text-align: center;
  }

  .wrapper__seventh .text .button {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__wrapper .center {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper__first {
    width: auto;
  }

  .wrapper__first .text h1 {
    font-size: 25px;
  }

  .wrapper__second {
    width: auto;
  }

  .wrapper__second .img {
    height: 30vh;
  }

  .wrapper__third {
    width: auto;
  }

  .wrapper__third .img {
    height: 30vh;
  }

  .wrapper__fourth {
    width: auto;
  }

  .wrapper__fourth .video iframe {
    width: auto;
  }

  .wrapper__fourth .video iframe {
    height: 30vh;
  }

  .wrapper__fifth {
    width: auto;
  }

  .wrapper__sixth {
    width: auto;
  }

  .wrapper__sixth .img {
    height: 30vh;
  }

  .wrapper__seventh {
    width: auto;
  }

  .wrapper__seventh .text h1 {
    font-size: 25px;
  }
}